body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(226, 225, 224);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.auth-header input {
  border-radius: 20px;
  width: 30%;
  text-align: center;
  border: none;
  padding: 10px;
}

.btn-login {
  cursor: pointer;
}

.welcome {
  margin-left: 50px;
}

/* ////// main header /// */

.main-header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 50px auto;
}

/* ////////////// movements /// */

.mouvements-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

/* ////////// left  */

.left {
  width: 48%;
  height: 550px;
  overflow: scroll;
  background-color: white;
}

.deposit-container,
.withdraw-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border-bottom: solid 1px gray;
}

.deposit,
.withdraw {
  border-radius: 10px;
  padding: 0px 5px;
  color: white;
  padding: 1px 3px;
}

.withdraw {

    background: linear-gradient(to bottom right, #e35858, #ba3f3f);
}
.deposit {

    background: linear-gradient(to bottom right, #7ed481, #3ea343);
}

/* //////////////////// right */

.right {
  width: 48%;
  height: 510px;
}

/* ///////// transfert-box */

.transfert-box {
  padding: 20px 40px;
  border-radius: 10px;
  /* height: 150px; */
  height: 25%;
  position: relative;
  background: linear-gradient(to right bottom, #ffc107, #ff9800);
}

.transfert-input,
.close-input,
.confirm-label,
.amount-transfert-box-input,
.pin-label,
.pin-input,
.btn-close-box,
.transfert-to,
.amount-transfert-box-input,
.amount-transfert-label,
.btn-transfert-box ,
.btn-loan-box {
  position: absolute;
}


.amount-transfert-box-input , .pin-input{
    left: 250px;
 background-color: rgba(255, 255, 255, 0.367);
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 8px 0px;
    border: none;
}



.btn-transfert-box ,.btn-close-box{
    left: 450px;
    border: transparent;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.transfert-to ,.amount-loan-label ,.confirm-label {
    top: 120px;
    left: 70px;
    position: absolute;
}

.amount-transfert-label {
    top: 120px;
    left: 300px;
}

.pin-label{
      top: 120px;
    left: 290px;
}


.transfert-input , .amount-loan-box-input , .close-input {
       background-color: rgba(255, 255, 255, 0.367);
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 8px 0px;
    border: none;
}
/* ///////////// loan box */

.loan-box{
    padding: 20px 40px;
  border-radius: 10px;
  /* height: 150px; */
     height: 25%;
  position: relative;
  background: linear-gradient(to right bottom, #59c45d, #48964c);
  margin: 20px 0px;
}

.btn-loan-box{
      left: 200px;
    border: transparent;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

/* /////////// close-box : */

.close-box{
    padding: 20px 40px;
  border-radius: 10px;
  /* height: 150px; */
   height: 25%;
  position: relative;
  background: linear-gradient(to right bottom, #e35858, #ba3f3f);

}


/* ///// footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.average-in ,.average-out ,.average-interest{
  font-size: 20px;
}

.average-in{
  color: #3ea343;
}

.average-out{
  color: #ba3f3f;
}
.average-interest{
    color: #3ea343;
}

.sort{
  cursor: pointer;
  margin-right: 200px;
}

.logout-timer{
  font-weight: 600;
}